
@font-face {
    font-family:'Designer' ;
    src: url(../fonts/designer_2/Designer.otf) format(opentype);
}

:root{
    --color-red:#D90B0B;
    --color-red-claro:#D92929;
    --color-red-claro2:#D95f5f;
    --color-redclaro3:#d99696;
    --color-white:#f2f2f2;
    --font:'Designer';
}

*{
    font-family: var(--font);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
    display: grid;
    justify-content: center;
    margin-top: 28vh;

    background-image: linear-gradient(to bottom, #880404, #a76a6a);
    background-attachment: fixed;
}
.login {
    text-align: center;
    margin: 0px 25px 25px;
}

 #container{
    box-shadow: 3px 5px 12px;
    border-radius: 15px;
    margin: 10px;
 }

 #container > img{
    width: 250px;
    height: 250px;
 }
 #contanier .login{
    display: inline;
 }

 .login input{
    background-color: transparent;
    color: white;
    border-radius: 10px;
    
 }
 ::placeholder{
    color:rgb(184, 177, 177);
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 3px 2px 5px #D90B0B;
 }
 
.login button{
    margin: 10px 0px 10px 0px;
    background-color: transparent;
    font-size: 20px;
 }
.login button:hover{
    color: white;
    transition: 0.5s;
    text-shadow: 2px 1px 0px black;
}
