
@font-face {
    font-family:'Designer' ;
    src: url(../fonts/designer_2/Designer.otf) format(opentype);
}

:root{
    --color-red:#D90B0B;
    --color-red-claro:#D92929;
    --color-red-claro2:#D95f5f;
    --color-redclaro3:#d99696;
    --color-white:#f2f2f2;
    --font:'Designer';
}

*{
    font-family: var(--font);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Remove o "rolamento" */
}

body{
    margin: 0;
    height: 100vh; /* Ocupa toda a altura da tela */
    width: 100vw;  /* Ocupa toda a largura da tela */
    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center;     /* Centraliza na vertical */
    overflow: hidden;
    position: relative;
    background: radial-gradient(circle, #ff4d4d 0%, #330000 100%);
}

body::before {
       content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../imagens/image-removebg-Logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 340px -179px;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(2px 3px 21px white);
        background-size: 83%;
        opacity: 0.4;
        z-index: 1;
}

.login {
    text-align: center;
    margin: 0px 25px 25px;
}

 #container{
    box-shadow: 3px 5px 12px;
    border-radius: 15px;
    margin: 10px;
 }

 #container > img{
    width: 250px;
    height: 250px;
 }
 #contanier .login{
    display: inline;
 }

 .login input{
    background-color: transparent;
    color: white;
    border-radius: 10px;
    
 }
 ::placeholder{
    color:rgb(184, 177, 177);
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 3px 2px 5px #D90B0B;
 }
 
.login button{
    margin: 10px 0px 10px 0px;
    background-color: transparent;
    font-size: 20px;
 }
.login button:hover{
    color: white;
    transition: 0.5s;
    text-shadow: 2px 1px 0px black;
}
